
.progress-block {
    color: white;
    overflow-wrap: break-word;
    text-align: center;
    position: relative;
}

.progress-background {
    background: linear-gradient(30deg, var(--main-button-bg-color), rgb(94, 93, 93));
}

.vertical-center {
    top: 250px;
    position:relative;
}

.progress-wrapper {
    position:relative;
    left: 15%;
    width: 70%;
    border: 3px solid var(--buttons-border-color);
    transform: skewX(20deg);
}

.overlay-progress {
    z-index: 999;
    background: linear-gradient(30deg, var(--main-button-bg-color), rgb(94, 93, 93));
    position: absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    overflow: hidden;
  }
