:root {
  --main-bg-color: rgb(0, 0, 0);
  --main-text-color: white;
  --main-button-text-color: white;
  --main-button-bg-color: rgb(54, 58, 55);
  --main-button-bg-hover-color: rgb(109, 177, 129);
  --main-button-border-color: rgb(37, 131, 65);
  --main-button-border-hover-color: rgb(199, 255, 216);
  --main-progress-download-color: rgb(28, 73, 110);
  --main-button-text-hover-color: rgb(0, 0, 0);
  --main-button-bg-focus-color: rgb(49, 119, 49);
  --main-button-text-focus-color: black;
  --main-button-hover-width: 475px;
  --main-button-height: 85px;
  --smaller-main-button-height: 65px;
  --main-button-hover-align: right;
  --main-progress-background-color: rgb(49, 49, 49);
  --main-progress-foreground-color: rgb(41, 109, 47);
  --main-progress-text-color: white; 
  --border-pad: 5px; 
  --buttons-border-color: rgb(141, 194, 130);
  --slide-1: rgb(66, 66, 66);
  --slide-2: rgb(58, 58, 58);
}

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  z-index: 1;
  transition: 1000ms linear;
  -webkit-transition: 1000ms linear;
  background-color: black;
}

.gradient-background {
  bottom:0;
  left:0;
  position:absolute;
  right:0;
  top:0;
  z-index:-1;
  background-color: black;
}

.main-menu {
  transition: 1000ms linear;
  -webkit-transition: 1000ms linear;
}

.app-body {
  display: flex;
  height:500px;
  width: 100%;
}

.left-side {
  flex:3;
  padding-top: 8px;
  height: 100%;
}

.right-side {
  flex:5;
  padding-top: 8px;
  height:100%;
}

.on-top {
  z-index: 999
}

.overlay {
  z-index: 998;
  background-color: var(--slide-2);
  position: absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
}


.hide {
  display: none;
}

.main-buttons { 
  margin: 10px 0; 
  display: block;
  width: 375px;
  height: var(--main-button-height);
  border: 5px solid var(--main-button-border-color);
  transform: skewX(-20deg);
  left: -20px;
  position: relative;
  z-index: 10;
  transition:100ms linear;
  -webkit-transition:100ms linear;
  outline: none;
  box-shadow: 3px 3px 5px #333;
  background-color: var(--main-button-bg-color);
  color: var(--main-text-color);
  z-index: 10;
  font-size: 3rem;
  text-align: right;
}

.smaller-main-button {
  height: var(--smaller-main-button-height);
  font-size: 2rem;
}

.main-buttons:focus {
  width: var(--main-button-hover-width);
  background-color: var(--main-button-bg-hover-color);
  color: black;
}

.main-buttons:active {
  background-color: var(--buttons-border-color);
}

.log-box {
  position: relative;
  width:100%;
  height:88%;
  overflow-y: auto;
  overflow-wrap: break-word;
  opacity: 0.5;
  z-index: 99;
}

.popup-button {
  padding-left: 4px;
  padding-right: 4px;
}

.sidebar {
  display: flex;
  flex-flow: column;
}

.sidebar-inner {
  background: var(--main-button-bg-color);
  padding: 10px;
  overflow-wrap: break-word;
  border-radius: 10px;
  z-index: 0;
}

.focus-check {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.simple-buttons {
  flex: 0 1 auto;
}

.scrollable {
  overflow-y: scroll;
}

.full {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.image {
  overflow: hidden;
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  width: 100%;
}

.sidebar-content {
  flex: 1 1 auto;
  -webkit-box-flex: 1 1 auto;
  border: 3px solid var(--buttons-border-color);
  border-radius: 12px;
  
  color: white;
  overflow-y: hidden;
}

.twitter {
  border: 3px solid var(--buttons-border-color);
  border-radius: 12px;
  background-color: var(--main-button-bg-color);
  color: white;
}

.padding {
  padding: 10px;
}

p {
  overflow-wrap: break-word;
}

.header {
  display: relative;
  left: -1%;
  width: 100%;
  border-bottom: 1px solid white;
  margin-bottom: 10px;
}

.header-item {
  display: inline;
  margin-right: 10px;
  padding-left: 10px;
  font-size: xx-large;
  color: white;
}

.header-right {
  position: absolute;
  font-size: x-large;
  color: white;
  right: 10px;
  top: 3px;
}

.header > .header-item + .header-item {
  border-left: 1px solid white;
}

.simple-button-bigger {
  position: relative;
  display: flexbox;
  margin: 10px;
  border: 3px solid var(--main-button-border-color);
  text-align: center;
  background-color: var(--main-button-bg-color);
  color: rgb(255, 255, 255);
  padding-left: 6px;
  padding-right: 6px;
  font-size: x-large;
  box-sizing: border-box;
  outline:none;
}

.simple-button-bigger:focus,
.simple-button-bigger:hover {
  background-color: var(--main-button-bg-hover-color);
  border-color: var(--main-button-border-hover-color);
}

.simple-button {
  position: relative;
  display: flexbox;
  margin-bottom: 1%;
  margin-top: 1%;
  height: 30px;
  border: 3px solid var(--main-button-border-color);
  text-align: center;
  background-color: var(--main-button-bg-color);
  color: rgb(255, 255, 255);
  padding: 5;
  box-sizing: border-box;
  outline:none;
}

.simple-button:focus,
.simple-button:hover {
  background-color: var(--main-button-bg-hover-color);
  border-color: var(--main-button-border-hover-color);
}

.inline {
  display: inline;
  margin-right: 5px;
}

.scroll-hidden {
  overflow: hidden;
}

.scrolling-fit {
  overflow-y: scroll;
  position: relative;
  height: 80%;
  scroll-behavior: smooth;
}
.scrolling-fit::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.border-bottom {
  border-bottom: 1px solid var(--buttons-border-color);
}

.border-top {
  border-top: 1px solid var(--buttons-border-color);
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, var(--slide-1) 50%, var(--slide-2) 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}