:root {
  --main-bg-color: rgb(0, 0, 0);
  --main-text-color: white;
  --main-button-text-color: white;
  --main-button-bg-color: rgb(54, 58, 55);
  --main-button-bg-hover-color: rgb(47, 79, 57);
  --main-progress-download-color: rgb(28, 73, 110);
  --main-button-text-hover-color: rgb(0, 0, 0);
  --main-button-bg-focus-color: rgb(49, 119, 49);
  --main-button-text-focus-color: black;
  --main-button-hover-width: 500px;
  --main-button-height: 100px;
  --main-button-hover-align: right;
  --main-progress-background-color: rgb(49, 49, 49);
  --main-progress-foreground-color: rgb(41, 109, 47);
  --main-progress-text-color: white;
  --border-pad: 5px;
  --buttons-border-color: rgb(141, 194, 130);
  --slide-green-1: rgb(58, 138, 17);
  --slide-green-2: rgb(16, 116, 46);
}

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  z-index: 1;
  transition: 1000ms linear;
  -webkit-transition: 1000ms linear;
  background-color: var(--slide-green-2);
}

.main-menu {
  transition: 1000ms linear;
  -webkit-transition: 1000ms linear;
}

.left-side {
  height: 100%;
  width: 50%;
  padding-top: 8px;
}

.right-side {
  width: 50%;
  height: 100%;
  padding-top: 8px;
}

.overlay {
  z-index: 999;
  background-color: var(--slide-green-2);
  position: absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
}

.app-body {
  display: flex;
  height:max-content;
}

.hide {
  display: none;
}

.main-buttons {
  padding: 12px 26px;
  margin: 10px 0;
  display: block;
  width: 400px;
  height: var(--main-button-height);
  border: none;
  clip-path: polygon(95% 0, 100% 38%, 95% 100%, 0 100%, 0 0);
  -webkit-clip-path: polygon(95% 0, 100% 38%, 95% 100%, 0 100%, 0 0);
  position: relative;
  z-index: 10;
  transition:100ms linear;
  -webkit-transition:100ms linear;
  background-image: linear-gradient(215deg, var(--buttons-border-color),rgb(84, 197, 84));
}

.main-buttons div {
  position: absolute;
  display: inline;
  top: var(--border-pad);
  left: 0px;
  bottom: var(--border-pad);
  right: var(--border-pad);
  height: calc(var(--main-button-height) - 2 * var(--border-pad));
  background-color: var(--main-button-bg-color);
  color: var(--main-text-color);
  border: none;
  clip-path: polygon(95% 0, 100% 38%, 95% 100%, 0 100%, 0 0);
  -webkit-clip-path: polygon(95% 0, 100% 38%, 95% 100%, 0 100%, 0 0);
  z-index: 10;
  transition:100ms linear;
  -webkit-transition:100ms linear;
  font-size: 3rem;
  font-weight: bold;
  font-style: italic;
  vertical-align: middle;
  text-align: right;
  line-height: calc(var(--main-button-height) - 2 * var(--border-pad));
}

.electron-buttons div:hover {
  background-color: var(--main-button-bg-hover-color);
}

.electron-buttons:hover {
padding: 12px 26px;
  width: var(--main-button-hover-width);
  height: var(--main-button-height);
  font-size: 3rem;
}

.main-buttons:active {
  background-image: linear-gradient(215deg, rgb(58, 125, 58), rgb(88, 207, 98));
}

.log-box {
  position: relative;
  top:0;
  bottom:0; 
  right:0; 
  left:0;
  overflow-y: auto;
  overflow-wrap: break-word;
  max-height: 100%;
}

.sidebar-inner {
  background: var(--main-button-bg-color);
  padding: 10px;
  overflow-wrap: break-word;
  border-radius: 10px;
  z-index: 0;
}

.scrollable {
  overflow-y: scroll;
}

.sidebar-outer {
  border: 3px solid var(--buttons-border-color);
  border-radius: 12px;
  height: 500px;
  background-color: var(--main-button-bg-color);
  color: white;
}

.twitter {
  border: 3px solid var(--buttons-border-color);
  border-radius: 12px;
  height: 525px;
  background-color: var(--main-button-bg-color);
  color: white;
}

.padding {
  padding: 10px;
}

p {
  overflow-wrap: break-word;
}

.header {
  display: inline-flex;
}

.header-item {
  padding-right: 10px;
  padding-left: 10px;
  background-color: var(--main-button-bg-color);
  border-bottom: 3px solid var(--buttons-border-color);
  border-right: 3px solid var(--buttons-border-color);
  font-family: 'Trebuchet MS', sans-serif;
  color: white;
}

.simple-button {
  position: relative;
  display: block;
  margin-bottom: 1%;
  height: 30px;
  border: 3px solid var(--buttons-border-color);
  text-align: center;
  background-color: var(--main-button-bg-color);
  color: rgb(255, 255, 255);
  padding: 5;
  box-sizing: border-box;
  border-radius: 12px;
}

.inline {
  display: inline;
  margin-right: 5px;
} 

.simple-button:hover {
  background-color: var(--main-button-bg-hover-color);
}

.border-bottom {
  border-bottom: 1px solid var(--buttons-border-color);
}

.border-top {
  border-top: 1px solid var(--buttons-border-color);
}

.loading {
  top: 250px;
  position:relative;
}

.loading-left {
  position: relative;
  animation:slide-from-left 1s ease-in;
  
  animation-fill-mode: forwards;
}

.loading-right {
  position: relative;
  animation:slide-from-right 1s ease-in;
  
  animation-fill-mode: forwards;
}

.leaving-left {
  position: relative;
  animation:slide-from-left 1s ease-out;
  
  animation-fill-mode: backwards;
}

.leaving-right {
  position: relative;
  animation:slide-from-right 1s ease-out;
  
  animation-fill-mode: backwards;
}

@keyframes slide-from-left {
  0% {
    transform:translateX(20%);
    opacity: 0%;
  }
  100% {
    transform:translateX(40%);
    opacity: 100%;
  }
}

@keyframes slide-from-right {
  0% {
    transform:translateX(80%);
    opacity: 0%;
  }
  100% {
    transform:translateX(50%);
    opacity: 100%;
  }
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, var(--slide-green-1) 50%, var(--slide-green-2) 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}